/* default apply */

*,*::before,*::after { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 90%;
    margin-top: 1rem;
    background-color: hsl(208, 33%, 79%);
    color: 	hsl(208, 33%, 39%);
    text-align: center;
}
/* change */
.strength-meter{
    position: relative;
    height: 2rem;
    width: 90%;
    border: 3px solid hsl(208, 33%, 57%) ;
    border-radius: 1rem;
    margin: 0 auto;
}
.strength-meter::before{
    content: '';
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: hsl(208, 33%, 45%);
    border-radius: 1rem;
}

.password-input{
    width: 90%;
    padding: .25rem .75rem;
    background-color:  hsl(208, 33%, 25%);
    color: white;
    border: 1px solid hsl(208, 33%, 45%);
    margin-top: 1rem;
    outline: none;
    text-align: center;
    border-radius: .3rem;
}

.password-input:focus{
    border-color: 3px solid hsl(208, 33%, 57%) ;
}

.reasons > * {
    margin-top: .5rem;
    color: 3px solid hsl(208, 33%, 77%) ;
}



