body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.icon-container{
    width: 50px;
    display: flex;
    flex-direction: column;
    height: 200vh;
    position: absolute;
    font-size: 30px;
    transition: all 300ms ease-in-out;
    /* animation: rotate 300ms forwards ease-in; */
}
/* @keyframes rotate {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
} */

.fa-sun,.fa-moon{
    display: flex;
    justify-content: center;
    height: 100%;
}
.fa-sun{
    align-items: flex-start;
}
.fa-moon{
    align-items:flex-end;
}

.swapper-container{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.swapper-btn{
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.light{
    background-color: #fff;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.light > .icon-container{
    background-color: red;
}

.dark > .icon-container{
    background-color: black;
}

.light > .swapper-container > .swapper-btn{
    background-color: orange;
    color: #fff;
}

.dark > .swapper-container > .swapper-btn{
    background-color: greenyellow;
    color: black;
}